<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation" aria-labelledby="app-navigation-heading">
    <h2 class="govuk-visually-hidden" id="app-navigation-heading">Menu</h2>
    <ul class="app-navigation__list app-width-container">
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Index","Home")">
                Dashboard
            </a>
        </li>
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Index","OnlineApplicationQueue")">
                Application queues
            </a>
        </li>
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Jobs","Jobs")">
                Jobs
            </a>
        </li>
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Settings","Settings")">
                Settings
            </a>
        </li>
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Index","Admin")">
                Admin
            </a>
        </li>
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="@Url.Action("Search","Search")">
                Search
            </a>
        </li>
    </ul>
</nav>